@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap'); /*Fonte Open Sans*/

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
    text-decoration:none;}

body{
        background-image: url("../IMAGES/wallpaper1.jpg");
        background-size: cover;}

input{
    display: block; /*Quebrar a linha dos inputs*/
    height: 55px;
    width: 400px;
    margin: 10px;
    border-radius: 5px;
    font-size: 15pt;
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    outline: none;
    color: #fff}

input[type="submit"]{
    background-color: #F6D284;
    color: #01112A;
    cursor: pointer;
   
}
/*index.php*/
div#corpo-from{
    background-image:linear-gradient(150deg, #217693, #01112A);
    width: 420px;
    margin: 150px auto 0px auto;    
    
    /*Efeito de Sombra em diferentes navegadores */   
    -webkit-box-shadow: -1px 0px 10px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    -1px 0px 10px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         -1px 0px 10px 0px rgba(50, 50, 50, 0.75);}

/*register.php*/
div#corpo-from-regis{
    background-image:linear-gradient(150deg, #217693, #01112A);
    width: 420px;
    margin: 70px auto 0px auto;    
    
    /*Efeito de Sombra em diferentes navegadores */   
    -webkit-box-shadow: -1px 0px 10px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    -1px 0px 10px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         -1px 0px 10px 0px rgba(50, 50, 50, 0.75);}


a{
    color:white;}

a:hover{
    text-decoration: underline;}

a:active{
    color:white;}


.title-form{
    color:white;
    padding: 3 60px 6px 13px;
    /*top , right , bottom , left*/
}
    
.title-form#facalogin{
    padding-top: 25px;
    padding-bottom: 0px;
}

.title-form#cadastrar{
    padding-top: 8px;
    padding-bottom: 12px;
}

/*Cor dos textos dos Placeholder´s em diferentes navegadores*/ 

::-webkit-input-placeholder{
    color:#fff;
}
:-moz-placeholder{
    color: #fff;
}
::-moz-placeholder{
    color:#fff
}

:-ms-input-placeholder{
    color: #fff;
}
